<div class="col-12">
  <nav class="navbar navbar-light bg-light shadow-sm mb-4">
    <a class="navbar-brand m-0 text-secondary">
      <%= octicon "device-desktop", height: "30", class: "mx-4" %>
      Portadas
    </a>
  </nav>
</div>

<% if @sliders.empty? %>
  <% if  user_signed_in? %>
    <%= empty_state("Aún no hay portadas, intenta más tarde.") do %>
      <div class="text-center my-4">
        <%= link_to "Nueva portada", new_slider_path, class: "text-white btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render @sliders %>

<div class="col-12 my-4">
  <%= paginate @sliders %>
</div>
