<nav class="sidebar d-none d-sm-block">
  <div class="content">
    <div>
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "logo.jpg", class: "img-fluid p-4" %>
      <% end %>
    </div>

    <ul class="nav flex-column pl-3 sidebar-menu">
      <li class="nav-item">
        <% active_link = controller_name == "pages" && action_name == "welcome" %>
        <%= link_to "Inicio", root_path, class: "nav-link text-secondary #{ active_link ? 'font-weight-bold' : '' }" %>
      </li>

      <li class="nav-item">
        <% active_link = controller_name == "items" && action_name == "index" %>
        <%= link_to "Productos", items_path, class: "nav-link text-secondary #{ active_link ? 'font-weight-bold' : '' }" %>
      </li>

      <li class="nav-item">
        <% active_link = controller_name == "pages" && action_name == "services" %>
        <%= link_to "Servicios", pages_services_path, class: "nav-link text-secondary #{ active_link ? 'font-weight-bold' : '' }" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item">
          <% active_link = controller_name == "sliders" && action_name == "index" %>
          <%= link_to "Portadas", sliders_path, class: "nav-link text-secondary #{ active_link ? 'font-weight-bold' : '' }" %>
        </li>

        <li class="nav-item">
          <% active_link = controller_name == "categories" %>
          <%= link_to "Categorías", categories_path, class: "nav-link text-secondary #{ active_link ? 'font-weight-bold' : '' }" %>
        </li>
      <% end %>

      <li class="nav-item">
        <% active_link = controller_name == "pages" && action_name == "contact" %>
        <%= link_to "Contacto", pages_contact_path, class: "nav-link text-secondary #{ active_link ? 'font-weight-bold' : '' }" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item border-top mt-4">
          <span class="dropdown-header font-weight-light pl-2">
            CREAR
          </span>
        </li>

        <li class="nav-item">
          <%= link_to "Nueva portada", new_slider_path, class: "nav-link text-secondary" %>
        </li>

        <li class="nav-item">
          <%= link_to "Nuevo producto", new_item_path, class: "nav-link text-secondary" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
