<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
  <div class="card">
    <div class="img-wrapper ratio-1-1">
      <div class="img-content">
        <div class="card-img-overlay pt-2 pl-2 pr-2">
          <span class="card-subtitle mb-0 badge badge-pill badge-success shadow-sm">
            $<%= item.price %> MXN
          </span>
        </div>
        <% if item.images.attached? %>
          <% image = item.images.last %>
          <%= image_tag image.variant(resize: "300x300"), class: "rounded-top" %>
        <% else %>
          <div class="text-center my-5">
            <%= octicon "file-media", height: 60, class: "text-secondary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card-body pl-2">
      <h6 class="card-title mb-0 text-uppercase text-truncate w-100">
        <%= item.title %>
      </h6>
      <span class="text-muted font-weight-light">
        <p class="text-truncate w-100">
          <small>
            <%= item.description %>
          </small>
        </p>
      </span>
    </div>
  </div>
</div>
