<div class="container">
  <div class="col-12 m-0">
    <nav class="navbar navbar-light bg-light shadow-sm mb-4">
      <h5 class="my-2">Servicios</h5>
    </nav>
  </div>

  <div class="row">
    <%= create_service "Licencias de antivirus",
                      "Kaspersky original con vigencia de un año.",
                      "key" %>

    <%= create_service "Internet",
                      "Para celulares, tabletas, portátiles desde $5.00 MXN por hora.",
                      "globe" %>

    <%= create_service "Reparación de portátiles",
                      "Formateos, limpieza, cambio de piezas, actualización de programas.",
                      "tools" %>

    <%= create_service "Descarga de acta de nacimiento",
                      "Descarga rápida de actas de nacimiento.",
                      "file" %>

    <%= create_service "Descarga de CURP",
                      "Descarga rápida de CURP.",
                      "note" %>

    <%= create_service "Captura de documentos",
                      "Captura de documentos.",
                      "keyboard" %>

    <%= create_service "Ayuda con planeaciones IEEPO ",
                      "Captura de calificaciones.",
                      "question" %>

    <%= create_service "Reventa",
                      "Remate de equipos.",
                      "milestone" %>

    <%= create_service "Impresiones",
                       "Impresiones a color y B/N",
                       "archive" %>
  </div>
</div>
