<% if @sliders.empty? && @items.empty? %>
  <%= empty_state("Aún no hay productos y portadas") do %>
    <% if  user_signed_in? %>
      <div class="text-center">
        <%= link_to 'Nuevo producto', new_item_path, class: "text-white btn btn-primary" %>

        <span class="m-4 lead"> o </span>

        <%= link_to 'Nueva portada', new_slider_path, class: "text-white btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @sliders.any? %>
  <%= render "slider" %>
<% end %>

<% if @items.any? %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center border-bottom mb-2">
          <h4 class="mr-auto">Nombre de la categoría</h4>
          <%= link_to "Ver más", items_path, class: "text-dark" %>
        </div>
      </div>
    </div>

    <div class="row">
        <%= render partial: "pages/item", collection: @items %>
    </div>
  </div>
<% end %>
