<% if @sliders.empty? && @items.empty? %>
  <%= empty_state("Aún no hay productos y portadas") do %>
    <% if  user_signed_in? %>
      <div class="text-center">
        <%= link_to "Nuevo producto",
                    new_item_path,
                    class: "text-white btn btn-primary d-block d-md-inline-block" %>

        <span class="m-4 lead d-block d-md-inline-block">o</span>

        <%= link_to "Nueva portada",
                    new_slider_path,
                    class: "text-white btn btn-primary d-block d-md-inline-block" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @items.any? %>
  <div class="col-12 text-center">
    <h4 class="mt-4 mb-5 font-weight-light text-secondary">
      Encuentra las mejores ofertas y productos
    </h4>
  </div>

  <%= render partial: "items/item", collection: @items %>

  <div class="col-12 text-center mt-5 mb-4">
    <h4 class="mb-3 font-weight-light text-secondary">
      ¿Aún no encuentras tu producto?
    </h4>

    <%= link_to "Explora otros productos", items_path, class: "btn btn-primary" %>
  </div>
<% end %>
