<div class="col-12 col-md-10 col-xl-6 mx-auto">
  <h4 class="mb-4 border-bottom">
    <% if @item.persisted? %>
      Actalizar producto
    <% else %>
      Nuevo producto
    <% end %>
  </h4>
</div>

<div class="w-100 d-none d-xl-block"></div>

<div class="col-12 col-md-10 col-xl-6 mx-auto">
  <%= simple_form_for @item do |f| %>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.association :category,
                      collection: Category.all,
                      prompt: "Selecciona una categoría" %>

    <%= f.input :images, as: :file, input_html: { multiple: true, accept: "image/jpeg, image/png" } %>

    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Regresar", items_path, class: "text-dark btn btn-link" %>
  <% end %>
</div>
