<div class="col-12 col-md-4 col-xl-3 mx-auto mb-4">
  <div class="card h-100 border-0 item">
    <div class="img-wrapper ratio-1-1">
      <div class="img-content">
        <% if item.cover.attached? %>
          <%= image_tag item.cover.variant(resize: "400x400"), alt: item.title %>
        <% else %>
          <div class="text-center my-5">
            <%= octicon "file-media", height: 60, class: "text-secondary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card-body border-top px-3 py-2 d-flex flex-column justify-content-between">
      <div class="d-flex justify-content-between">
        <div>
          <p title="<%= item.title %>" class="mb-0"  >
            <%= item.title %>
          </p>

          <p class="mb-0 card-text small text-secondary">
            <%= item.category.name %>
          </p>
        </div>

        <% if user_signed_in? %>
          <div class="btn-group">
            <%= link_to edit_item_path(item),
                        class: "py-0 pl-0 pr-2 text-secondary",
                        title: "Editar" do %>
              <%= octicon "pencil" %>
            <% end %>

            <%= link_to item, method: :delete,
                              data: { confirm: "¿Está seguro?" },
                              class: "p-0 text-danger",
                              title: "Eliminar" do %>
              <%= octicon "trashcan" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <p class="text-right mb-0">$<%= item.price %></p>
    </div>
  </div>
</div>
