<% is_searching = params[:query].present? %>

<% if is_searching || @items.length > 0 %>
  <div class="col-12">
    <nav class="navbar navbar-light bg-light shadow-sm mb-4">
      <%= form_tag items_path, method: :get, class: "form-inline mx-auto w-50" do %>
        <div class="input-group w-100">
          <%= text_field_tag :query, params[:query], class: "form-control border-secondary",
                             type: "search", placeholder: "Buscar",
                             aria: { label: "Buscar" }  %>

          <div class="input-group-append">
            <%= button_tag type: "submit", class: "btn btn-outline-secondary" do %>
              <%= octicon "search" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </nav>
  </div>

  <% if is_searching  %>
    <%= render "searching" %>
  <% else %>
    <%= render "idle" %>
  <% end %>
<% else %>
  <%= empty_state("Aún no hay productos, intenta más tarde.") do %>
     <% if policy(Item).new? %>
        <div class="text-center my-4">
          <%= link_to 'Nuevo producto', new_item_path, class: "text-white btn btn-primary" %>
        </div>
      <% end %>
  <% end  %>
<% end %>
