<% if params[:query].blank? && @items.length == 0 %>
  <%= render "empty_state" %>
<% else %>
  <div class="col-12">
    <nav class="navbar navbar-light bg-light shadow-sm mb-4">
      <%= form_tag items_path, method: :get, class: "form-inline mx-auto w-50" do %>
        <%= text_field_tag :query, params[:query], class: "form-control my-1 w-100",
          type: "search", placeholder: "Buscar", aria: { label: "Buscar" }  %>
      <% end %>
    </nav>
  </div>

  <% if @items.length > 0 %>
    <div class="col-12">
      <h1>Productos</h1>
    </div>

    <%= render @items %>

    <div class="col-12 my-4">
      <%= paginate @items %>
    </div>
  <% else %>
    <div class="offset-3 col-6 mt-5">
      <div class="shadow-sm p-3 mb-5 bg-white rounded mt-5">
        <div class="text-center">
          <%= octicon "search", height: 120, class: "text-secondary" %>
        </div>

        <p class="text-center text-secondary m-4">
          No hay resultados para
          "<span class="font-weight-bold"><%= params[:query] %></span>"
        </p>
      </div>
    </div>
  <% end %>
<% end %>
