<% is_searching = params[:query].present? %>

<% if is_searching || @items.length > 0 %>
  <div class="col-12">
    <nav class="navbar navbar-light bg-light shadow-sm mb-4">
      <%= form_tag items_path, method: :get, class: "form-inline mx-auto w-50" do %>
        <%= text_field_tag :query,
                           params[:query],
                           class: "form-control my-1 w-100",
                           type: "search",
                           placeholder: "Buscar",
                           aria: { label: "Buscar" }  %>
      <% end %>
    </nav>
  </div>

  <% if is_searching  %>
    <%= render "searching" %>
  <% else %>
    <%= render "idle" %>
  <% end %>
<% else %>
  <%= render "empty_state" %>
<% end %>
