<nav class="sidebar-wrapper shadow" id="sidebar">
  <%= link_to root_path, class: "nav-link" do %>
    <%= image_tag "logo.jpg", class: "img-fluid p-4" %>
  <% end %>

  <ul class="nav flex-column pl-3 sidebar-menu">
    <li class="nav-item">
      <%= link_to "Inicio", root_path, class: active_nav_when("pages", "welcome") %>
    </li>

    <li class="nav-item">
      <%= link_to "Productos", items_path, class: active_nav_when("items", "index") %>
    </li>

    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Portadas", sliders_path, class: active_nav_when("sliders", "index") %>
      </li>

      <li class="nav-item">
        <%= link_to "Categorías", categories_path, class: active_nav_when("categories") %>
      </li>
    <% end %>

    <li class="nav-item">
      <%= link_to "Servicios", pages_services_path, class: active_nav_when("pages", "services") %>
    </li>

    <li class="nav-item">
      <%= link_to "Contacto", pages_contact_path, class: active_nav_when("pages", "contact") %>
    </li>

    <% if user_signed_in? %>
      <li class="nav-item border-top mt-4">
        <span class="dropdown-header font-weight-light pl-2">
          CREAR
        </span>
      </li>

      <li class="nav-item">
        <%= link_to "Nuevo producto", new_item_path, class: "nav-link text-secondary" %>
      </li>

      <li class="nav-item">
        <%= link_to "Nueva portada", new_slider_path, class: "nav-link text-secondary" %>
      </li>
    <% end %>
  </ul>
</nav>
