<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <div class="wrapper">
      <%= render "shared/nav" %>

      <div class="app">
        <div class="content">
          <%= render "layouts/messages" %>

          <div class="container">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>

        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
