<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <div class="wrapper" data-controller="sidebar" data-sidebar-state="expanded">
      <%= render "layouts/sidebar" %>

      <div class="content-wrapper">
        <%= render "layouts/toggler" %>
        <%= render "layouts/nav" %>
        <%= render "layouts/messages" %>

        <div class="container">
          <div class="row">
            <%= yield %>
          </div>
        </div>

        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
