<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <div class="wrapper pl-0" data-controller="sidebar" data-sidebar-state="expanded">
      <%= render "layouts/sidebar" %>

      <div class="content-wrapper">
        <%= render "layouts/nav" %>
        <%= render "layouts/messages" %>
        <%= render "pages/slider" if welcome? %>
        <%= render "layouts/toggler" %>

        <div class="container">
          <div class="row">
            <%= yield %>
          </div>
        </div>

        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
