<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <div class="wrapper">
      <%= render "shared/nav" %>

      <div class="app">
        <div class="content">
          <%= render "layouts/messages" %>
          <%= yield %>
        </div>

        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>

